{% extends 'base.html' %}
{% load static %}

{% block title %}Event Update{% endblock %}

{% block content %}
<main class="text-body-dark"> 
<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <h4>Update Your Event</h4>
            <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
            
                
                <label class="small font-weight-bold">{{ updateevent_form.name.label}}</label>
    {{ updateevent_form.name }}
    <label class="small font-weight-bold">{{ updateevent_form.description.label}}</label>
    {{ updateevent_form.description }}
    <label class="small font-weight-bold">{{ updateevent_form.image.label}}</label>
    {{ updateevent_form.image }}
     <label class="small font-weight-bold">{{ updateevent_form.published_at.label}}</label>
    {{ updateevent_form.published_at }} 
    <label class="small font-weight-bold">{{ updateevent_form.destination.label}}</label>
    {{ updateevent_form.destination }} 
    <label class="small font-weight-bold">{{ updateevent_form.ticket_link.label}}</label>
    {{ updateevent_form.ticket_link }} 
    <label class="small font-weight-bold">{{ updateevent_form.price.label}}</label>
    {{ updateevent_form.price }} 

              
            
            
            
                <button class="btn btn-success btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Update Event">Update</button>
                <hr class="mb-3">
                                

                    
            </form>
        </div>
    </div>
</div>
</main>

{% endblock content %}










