{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block content %} 
<main>


    <div class="bg-dark text-light mt-4  bg-white" style="height: 75vh; min-height: 400px; background-image: url('{% static 'img/welcome.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
      <div class="container h-100 ">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-left ">
            <a href="{% url 'core:destination_list_view' %}" class="btn btn-success btn-md px-4">
            Explore
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock content %}