{% extends "base.html" %}
{% load static %}

{% block title %}Destination Detail{% endblock %}
{% block content %} 

<main class="text-body-dark">
    <div class=" mt-4  text-body-dark" 
    style="height: 75vh; min-height: 300px; background-image: url('{{Destination_detail_Var.image.url}}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
      <div class="container h-80 pt-5 ">
        <div class="row h-100 align-items-center ">
          <div class="col-12 text-left pt-5 ">
            <h1 class="fw-bold text-light "> <i>{{Destination_detail_Var.name}}</i> </h1>
            <p class=" fw-bold text-light ">City in Saudi Arabia</p>
          </div>
        </div>
      </div>
    </div>
    

  
    <div class="p-5 w-100">
      <div class="col-md-12 ">
        <div class="h-100 p-5 border rounded-3 ">
          <h2  class="display-5 fw-bold text-body-dark">Explore {{Destination_detail_Var.name}} history </h2>
          <p class="lead fw-bold ">{{Destination_detail_Var.summary}}</p>
        </div>
      </div>
    </div>
  
  
    
  <!-- Historical Sites -->
  <div class="p-5 text-body-dark ">
    <div class="container">
    
      <div class="album py-5 border rounded-5">
        <div class="container px-4 py-2">
          <h2 class="pb-2 border-bottom">Explore Best Historical sites in {{Destination_detail_Var.name}} City</h2>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for site in Sites_list_Var %}
  
            <div class="col" >
              <a href="{% url 'core:site_detail_view' site.slug %}" class="text-decoration-none">
                <div class="card shadow-sm ">
                  <img src="{{site.image.url}}" class="card-img-top" width="100%" height="400px" alt="...">
                  <div class="card-body">
  
                    <h5 class="card-title ">{{site.name}}</h5>
                  </div>
                </div>
              </a>
            </div>

          {% endfor %}

           
          
          
  
  
          </div>
        </div>
      </div>
    </div>
    
  
  </div>
  

  <div class="p-5 w-100 ">
    <div >
      <h2 class="text-center text-body-dark left-aligned">Events in {{Destination_detail_Var.name}}</h2>
  </div>

  {% for event in Events_list_Var  %}
  <div class="container col-xxl-8 px-0 py-0 mb-2  border rounded-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
     
      <div class="col-sm-12 col-lg-6">
        <a href="{% url 'core:event_detail_view' event.slug %}" class="text-decoration-none">
        <img src="{{event.image.url}}"  class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </a>
      </div>
    
      <div class="col-lg-6 ">
        <h1 class="display-6 fw-bold text-body-dark text-center lh-1 ">{{event.name}}</h1>
       
        <div class="d-grid  d-md-flex justify-content-md-start pt-2 text-center">
        <a href="{% url 'core:event_detail_view' event.slug %}" class="text-decoration-none w-100 align-item-center justify-content-center ">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 align-self-center ">Explore</button>
        </a>
           
        </div>
      </div>
    </div>
  </div>
  {% endfor %}




  <div class="p-5">
      <div>
        <h2 class="text-center text-body-dark left-aligned">ADD A comment</h2>
      </div>
        <div class="container my-5 py-5 ">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
              <div class="card shadow-lg">
                {% for comment in Destination_detail_Var.comments.all %}
                <div class="card-body border-bottom">
                  <div class="d-flex flex-start align-items-center">
                      <img class="rounded-circle shadow-1-strong me-3"
                    src="{% static 'img/profile2.png' %}" alt="avatar" width="60"
                    height="60" />
                      
                    <div>
                      <h6 class="fw-bold text-primary mb-1">{{ comment.username }}</h6>
                      <p class="text-muted small mb-0">
                        Added At - {{ comment.date_added }}
                      </p>
                    </div>
                  </div>
      
                  <p class="mt-3 mb-4 pb-2">
                    {{ comment.body }}.
                  </p>
                {% empty %}
                    <div class="text-center">
                        <p>No comments yet!</p>
                    </div>
                {% endfor %}

                <div class="card-footer py-3 border-0 "  >
                  <div class="d-flex flex-start w-100">
                    <div class="form-outline w-100">
                      <div class="container">
                        <div class="row my-5">
                            <div class="col-md-12">
                              <form method='POST' enctype="multipart/form-data">
                                  {% csrf_token %}
                                  <label for="username">ADD your name!<span class="text-muted small">
                                  </span></label>
                                  <input type="text" name="username" class="form-control mb-3" maxlength="100" required placeholder="Your username">
                                  <label for="body">ADD new Comment!<span class="text-muted small">
                                      </span></label>
                                      <textarea name="body" class="form-control mb-3" minlength="10" maxlength="2000" required placeholder="Your Review"></textarea>
                            
          
                                      <div class="card-footer p-4 pt-0 border-top-0 ">
                                          <div class="text-center">
                                              <button class="btn  mt-auto btn-success w-50 rounded-pill" type="submit" >Send A Reply</button>
                            
                          
                                          </div>
                                          
                                      </div>
                                  
                              </form>
    
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     
      
    
      </div>
  
  


    
  
  

  

  

  
 

 
  

  
  
  </main>


{% endblock content %}






